main{
    min-height: 100vh;
}


    /* 問題追加ボタンのスタイル */
    #addQuestion{
        /* background: pink; */

        position: fixed;
        left:0; bottom: 1rem;
        width: 100%;
        z-index: 10;
    }

/*
* ---------------------------
* コンテナー
* ---------------------------
*/
    .flex-column-center{
        display: flex;
        flex-direction: column; /*縦並び*/
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .container-1200{
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
    }

    .container-900{
        max-width: 900px;
        margin: 0 auto;
        padding: 1rem;
    }

    .container-600{
        max-width: 600px;
        margin: 0 auto;
        padding: 1rem;
    }


/*
* ---------------------------
* ボタン
* ---------------------------
*/

    /* ボタンを丸型にする */
    .btn-curve{
        border-radius:1.5rem;
        padding:.3rem 2rem;
    }


    /* ボタンに'>'を付ける */
    .btn-arrow{
        position: relative;
    }
        .btn-arrow::after{
        content: '>';
        position: absolute;
        /* top: .4rem;  */
        right: 1rem;
        height: 100%; width: 1rem;
        text-align: center;
    }

    /* アウトラインprimaryボタン */
    .btn-outline-primary:hover {
        background-color: hsl(192deg, 100%, 45%);
        border-color: hsl(192deg, 100%, 45%);
        color: #fff;
    }


/*
* ---------------------------
* アラート(ページ読み込み時にフェードインする)
* ---------------------------
*/
.fadein-alert-box{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 1rem;
    animation: fadein-alert 5s forwards;
}
@keyframes fadein-alert{
    0% {
        transform: rotateX(60deg);
        top: 5rem;
        opacity: 0;
    }
    20% {
        transform: rotateX(0deg);
        top: 10rem;
        opacity: 1;
    }
    80% {
        top: 10rem;
        opacity: 1;
        z-index: 1;
    }
    100% {
        top: 10rem;
        opacity: 0;
        z-index: -10;
    }
}

.anima_back_arrow::after{
    animation: back_arrow .5s forwards;
}
@keyframes back_arrow {
    from {height: 30rem;}
    to {height: 0rem;}
}



/*
* ---------------------------
* フェードインアアニメーション
* ---------------------------
*/

    .anima-fadein-bottom{
        animation: anima-fadein-bottom 1s forwards;
    }
    @keyframes anima-fadein-bottom {
        from {
            opacity: 0;
            transform: translateY(1rem);
        }
        to {
            opacity: 1;
            transform: translateY(0rem);
        }
    }

    .anima_fadein_right{
        animation: anima_fadein_right 1s forwards;
    }
    @keyframes anima_fadein_right {
        from {
            opacity: 0;
            transform: translateX(1rem);
        }
        to {
            opacity: 1;
            transform: translateX(0rem);
        }
    }


    .anima_fadein_left{
        animation: anima_fadein_left 1s forwards;
    }
    @keyframes anima_fadein_left {
        from {
            opacity: 0;
            transform: translateX(-1rem);
        }
        to {
            opacity: 1;
            transform: translateX(0rem);
        }
    }

/**/
